* {
	box-sizing: border-box;
}

html,
body {
	background-color: #2c3b41;
	min-height: 100vh;
}

header .header-strip {
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px 20px;
	z-index: 100;
	background-color: #3c8dbc;
	width: 100%;
}

header .header-sidebar {
	position: fixed;
	left: 0;
	top: 50px;
	height: calc(100vh - 50px);
	width: 200px;
	z-index: 99;
	background-color: #222d32;
	border-right: solid 2px rgba(0,0,0,0.1);
}

header .header-sidebar .header-navigation {
	display: block;
	width: 100%;
	padding: 5px 20px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 30px;
}

header .menu_button {
	color: #fff;
	display: block;
	padding: 5px 10px;
}

header .menu_button:hover,
header .menu_button.active {
	background-color: #3b7ca9;
}

header .menu_dropdown {
	background-color: #fff;
	position: absolute;
	top: 34px;
	right: 0;
	width: 250px;
	display: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

header .menu_dropdown.open {
	display: block;
}

header .menu_dropdown ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header .menu_dropdown ul li a {
	padding: 8px 10px;
	display: block;
	color: #444;
	text-decoration: none;
	font-size: 14px;
}

header .menu_dropdown ul li a:hover,
header .menu_dropdown ul li a.active {
	background-color: #3b7ca9;
	color: #fff;
}

header .menu_dropdown ul li a i {
	margin-right: 5px;
	display: inline-block;
	background-color: #3b7ca9;
	padding: 5px;
	color: #fff;
	border-radius: 4px;
	border: solid 1px rgba(0,0,0,0.1);
}

header .menu_dropdown ul li a:hover i,
header .menu_dropdown ul li a.active i {
	background-color: rgba(0,0,0,0.2);
}

header .header-sidebar .header-navigation i {
	margin-right: 10px;
}

header .header-sidebar .header-navigation:hover,
header .header-sidebar .header-navigation.active {
	background-color: rgba(0,0,0,0.5);
}

header h2,
header .uk-subnav > li > a {
	font-size: 14px;
	line-height: 30px;
	color: #fff !important;
	text-transform: initial !important;
}

header h2 {
    display: inline-block;
    margin: -10px -20px;
    padding: 10px 20px;
}

div#body {
	padding: 60px 20px 10px;
}

div#body h2 {
	font-size: 16px;
	line-height: 30px;
	color: #fff;
}

.box-wrapper {
	padding: 10px 0px;
}

.box-wrapper-title {
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 10px;
	color: #fff;
}


.box-wrapper table {
	margin-bottom: 0;
}

.search {
	padding: 0 10px;
	line-height: 30px;
	font-size: 14px;
	width: 300px;
	max-width: 300px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 4px;
	border: 0;
	outline: none;
	color: #fff;
	margin-right: 5px;
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
}

.loader i {
	font-size: 100px;
	color: rgba(255,255,255,0.5);
}

.section {
	margin: 50px -20px 0;
	border-top: solid 1px rgba(0,0,0,0.2);
	padding: 20px 20px 0;
}

/* _________________________________________________________________________________

UIKIT Alterations.
____________________________________________________________________________________ */

*+a.uk-button {
	margin-left: 5px;
}

.uk-tooltip {
	border-radius: 4px !important;
	background-color: #181818;
}

/* _________________________________________________________________________________

The styles here are entirely listing oriented; all table oriented styles should be applied
within this little segment.
____________________________________________________________________________________ */

table.uk-table tr th {
	font-weight: 700;
}

table.uk-table tr th,
table.uk-table tr td {
	background-color: transparent;
	border-bottom: solid 1px rgba(255,255,255,0.5);
	color: rgba(255,255,255,0.6);
	padding: 5px 10px;
	text-transform: initial;
	font-size: 14px;
	color: #fff;
	line-height: 25px;
}

table.uk-table tr:last-of-type td {
	border-bottom: 0;
}

.pagination .pagination_item {
	padding: 5px;
	display: inline-block;
	color: #fff;
	background-color: rgba(0,0,0,0.2);
}

.pagination .pagination_item.active,
.pagination .pagination_item:hover {
	background-color: rgba(0,0,0,0.4);
}

/* _________________________________________________________________________________

View oriented logic, everything from this point will be pertaining to view logic
view_element()
view_elements() etc.
These are essentially button styles for globals.
____________________________________________________________________________________ */

.view,
.delete {
	background-color: #3c8dbc;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	border-radius: 4px;
	margin-right: 5px;
}

.delete {
	background-color: #f01d36;
}

.add {
	border-radius: 4px;
	text-transform: initial;
	background-color: #00a65a !important;
	padding: 0 10px;
	line-height: 30px;
	outline: none;
	border: 0;
	color: #fff;
	font-size: 14px;
	display: inline-block;
}

.view:hover,
.delete:hover,
.add:hover {
	opacity: 0.8;
	color: #fff;
}

.info {
	color: #fff;
	display: inline-block;
	margin-top: 15px;
	padding: 0 10px;
	background-color: rgba(0,0,0,0.1);
	border: solid 1px rgba(0,0,0,0.2);
	border-radius: 4px;
}

.back,
.save {
	border-radius: 4px;
	text-transform: initial;
	font-size: 14px;
	line-height: 30px;
	padding: 0 10px;
	background-color: #3c8dbc;
	display: inline-block;
	color: #fff;
	text-decoration: none !important;
} 

.back {
	background-color: #f01d36;
	margin-left: 5px;
}

.back:hover,
.save:hover {
	opacity: 0.8;
	color: #fff;
}

/* _________________________________________________________________________________

The styles within here are going to be completely revolving around form styles, inputs
and generally dealing with the visuals of all form elements.
____________________________________________________________________________________ */

.form {
	margin-top: 10px;
}

.form select,
.form input {
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	border-radius: 4px;
	border: 0;
	outline: none !important;
	padding: 10px;
	color: #fff;
}

.form select {
	padding: 10px 5px;
}

.form .label-flex {
	width: 150px;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}

.form .error input {	
	border: solid 1px #f01d36;
}

.form .error label.label-flex {
	color: #f01d36;
}

.form .error_message {
	font-size: 12px;
	line-height: 30px;
	color: #f01d36;
}

.form.uk-flex > *+div {
	padding-left: 10px;
}

/* _____________________________________________________________________________________________________________________

Making alterations to select2 to match the theme of the system... ensuring that this is going to look in theme with
everything that's already there.
______________________________________________________________________________________________________________________*/

.select2-selection.select2-selection--single {
	background-color: rgba(0,0,0,0.2) !important;
}

.select2-container .select2-selection--single {
	height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #fff !important;
}

.form .error .select2-container--default .select2-selection--single .select2-selection__rendered {
	border: solid 1px #f01d36 !important;
	border-radius: 4px !important;
}

.select2-container--default .select2-selection--single {
	border: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 36px !important;
	font-size: 13.3333px;
	line-height: 32px !important;
}

.select2-dropdown {
	background-color: #242424 !important;
	border: 0 !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	background-color: rgba(0,0,0,0.2);
	border: 0 !important;
	outline: none !important;
	color: #fff !important;
}

.select2-container--default .select2-results__option {
	background-color: #242424 !important;
	color: #fff !important;
	font-size: 14px !important;
	padding: 10px;
}

.select2-container--default .select2-results__option:hover,
.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #181818 !important;
}

/* _____________________________________________________________________________________________________________________

Making alterations to uikit's styles and ensuring that their styles are matching the system specification and global
styles in place already.
______________________________________________________________________________________________________________________*/

.uk-button.uk-button-small {
	padding: 5px;
	width: auto;
	height: auto;
	line-height: 14px;
	font-size: 14px;
	text-transform: initial;
	border-radius: 4px;
}

.uk-button.uk-button-small i {
	margin-right: 5px;
}

.uk-checkbox {
	max-width: 20px !important;
}

/*
Making alterations to bootstraps daterangepicker - removing the calendar and showing only a timepicker so it is more
obvious what the system is asking for...
*/

.daterangepicker-time-only .calendar-table,
.daterangepicker-time-only .calendar-table .calendar-time i,
.daterangepicker-time-only .daterangepicker .daterangepicker_input i {
	display: none !important;
}

.daterangepicker-time-only .daterangepicker .calendar-time {
	padding-left: 0 !important;
}

